textarea {
    min-height: 400px;
}

body {
    background-image: url('hi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.border-style{
    margin:20px;
}

.list-group-item{
    height:60px;
}

#horizontal-line{
    border-color:darkcyan;
    margin-bottom: 20px;
}

.read{
    background-color: black;
}

.unread{
    background-color: white;
}





  



  
  

  
  
  
